/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.sideone {
    width: 40%;
    background-color: #ddd;
    height:90vh;
  }
  
  /* Middle column */
  .column.sidetwo {
    width: 55%;
    background-color: #ddd;
    height:90vh;
    overflow-y: scroll;
    margin-left: 5px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  th, td{
     text-align: left;
  }
  table{
    width: 100%;
  }
  .cart{
    height: 450px;
    overflow-y: scroll;
  }
  .cartRow{
    background-color: white;
  }
  .cartRow td{
    padding: 6px 8px;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
  .cross{

  }
  .minus , .plus{
    background-color: dimgray;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    color: white;
  }
 